@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
.collapse {
  visibility: visible !important;
}
.nav-tabs{
  border: 0px !important;
}
.MuiPaper-root{
  /* height:200px; */
  text-align: center;
}

.MuiToolbar-root{
  text-align: center;
}
.hero-bg-img {
  background-image: url("./assets/carousel/crousal-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.contact-banner{
  background: url("https://res.cloudinary.com/dinitjlyf/image/upload/v1743772085/chat_uploads/zsar2np2vwgtevrtva6o.jpg"),rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.bg-men-running {
  background-image: url("./assets/8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}
.profile-banner{
  background: url("./assets/profilebg.png"),rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  height: 500px;
}
.faq-banner{
  background: url("./assets/image17.png"),rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.shipping-banner{
  background: url("./assets/shipping.png");
   background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center; 
  background-size: cover;
  height: 400px;

}

/* Nav Search  */

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.inputSeacrh {
  border-style: none;
  height: 35px;
  width: 35px;
  padding: 5px;
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color: black;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 30px;
  color: #fff;
}

.inputSeacrh::placeholder,
.inputSeacrh {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}

.inputSeacrh::placeholder {
  color: #8f8f8f;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 23px;
  height: 23px;
  margin: 5px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .2s linear;
}

.searchIcon:focus ~ .inputSeacrh,
.inputSeacrh:focus {
  box-shadow: none;
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid black;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}



.return-refund-banner{
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/returnRefund.png");
  background-repeat: no-repeat;
 background-blend-mode: multiply;
 background-position: center; 
 background-size: cover;

 height: 400px;
}

.privacy-banner{
  background: url("./assets/privacypolicy.png");
  background-repeat: no-repeat;
 background-blend-mode: multiply;
 background-position: center; 
 background-size: cover;
 height: 400px;
}
.terms-condition-banner{
  background: url("./assets/termsCondition.png");
  background-repeat: no-repeat;
 background-blend-mode: multiply;
 background-position: center; 
 background-size: cover;
 height: 500px;
}

.about-banner{
  background: url("./assets/image7.png"),rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abou
.bg-women-running {
  background-image: url("./assets/7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
}
.orange{
  background-color: #f5743b;
  color: #f4f2f2;
  
  border-radius: 20px;
  border: 0px;
  font-size: 15px;
 padding: 14px 20px;
}
.black{
  background-color: #000000;
  border-radius: 20px;
  border: 0px;
  font-size: 15px;
 padding: 14px 20px;
}
.tabs-btn{
  background-color: green !important;
  color: #fff !important;
  border-radius: 20px !important;
  padding: 10px 20px !important;
  margin: 0px 20px 10px 20px !important;
}

.tabs-btn2{
  background-color:#225cb4!important;
  color: #fff !important;
  border-radius: 20px !important;
  padding: 5px 10px !important;
  margin-bottom: 10px !important;

}
.wraps{
  display: flex;
  margin: auto;
  gap:40px;
  width: 90%;
  margin-bottom: 10px;
}

.newly-available {
  position: relative; /* Make the position relative for the overlay */
  background-image: url("./assets/WhatsApp.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 600px; */
  display: flex;
  align-items: center;
}

.newly-available::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity for darkness */
}

.card {
  /* width: 400px; */
  @apply lg:w-[400px] w-full;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.img {
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.textBox {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .head {
  font-size: 20px;
}

.textBox > .price {
  font-size: 17px;
}

.textBox > span {
  font-size: 12px;
  color: lightgrey;
}

.card:hover > .textBox {
  opacity: 1;
}

.card img:hover {
  height: 100%;
  filter: blur(10px);
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.04) rotate(-1deg);
}

.cart-container::-webkit-scrollbar {
  width: 0.5em;
}

.cart-container::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.cart-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 100vw;
}

.floatingCart {
  display: none;
}

.toggleFloatingCart:hover .floatingCart {
  display: block;
}

.size{
  font-size: 100px;
  color: #fff;
  padding-top: 80px;
  text-transform: uppercase;
}

/* tab-content */

.profile h1, .profile h4{
  font-size: 28px;
  font-weight: 600;
}
.profile h4{
  font-size: 20px;
  font-weight: 600;
}


.past-order-box{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;;
   width: 60%;
   height:auto ;
   padding: 20px 20px;
 }

 .pastOrderImg{
  width: 200px;
  height: 200px;
}

 .login-box{
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
  width: 100%;
  height:auto ;
  padding: 20px ;
 }
 .wrap{
  display: inline-flex;
  gap: 50px;
  align-items: center;
}
.address1{
  border: 2px solid #000000;
  padding: 20px 40px;
}
.address-btn{
  background-color: transparent;
  color: #0056b3;
  border: 0px;
  padding: 20px;
  font-weight: 600;
  font-size: 15px;
}
.tab-btn{
  color: #fff;
  background-color: #F9AC25;
  font-weight: 700;
}
.btn-add{
  background-color: transparent;
  border: 2px solid #F9AC25;
  padding: 10px 25px;
  border-radius: 5px;
  color:#F9AC25;
}
.btn-add:active{
  background-color: coral;
  padding: 10px 25px;
  /* border-radius: 10px; */
  color: #fff;
}
.tab-btn:hover{
  background-color: transparent;
  border: 3px solid #F9AC25;
 
}
.sidenav{
  font-size: 20px !important;
  line-height: 70px !important;
}
.profile-btn{
  background-color: #f5743b;
    padding: 15px 40px;
    border: 0px;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.btn-1{
  background-color:transparent;
  border: none;
  font-size:20px;
  margin-top: 20px;
  color: #f5743b;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;

}
.btn-order{
  background-color:transparent;
  border: 2px solid #fff;
  padding: 8px 20px;
  width: 100%;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  font-size: 20px;
  border-radius: 5px;
  color: #000000;
  cursor: pointer
}
.btn-select{
  background-color:transparent;border: 2px solid #f5743b; color: #f5743b;cursor: pointer; padding: 8px 20px;
}
.rate {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px
}
.address-box{
  border: 1px solid #a1a1a1;
  padding: 20px 20px;
 line-height:35px;
  width: 90% ;
  margin-top: 20px ;
}
.btn-select:active{
  background-color: #f5743b;
  color: #fff;
}

  .css-zza0ns-MuiBadge-badge {
    background-color: #F5743B !important;
  
  }
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

.buttons {
  top: 36px;
  position: relative
}

.rating-submit {
  border-radius: 8px;
  color: #fff;
  height: auto
}

.rating-submit:hover {
  color: #fff
}
#decrease{
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: #f4f2f2;
  border-radius: 50%;
}
#increase{
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color:#f4f2f2;
  border-radius: 50%;
}
#count{
  font-size: 20px;
  width: 50px;
  display: flex;
  text-align: center;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #f4f2f2;
  border-radius: 20%;
}
.tab-con{
  width: 90% !important;
  margin: auto;
}

.card{
  width:270px !important;
  border: none ;
}
.card-title{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.card-text{
  color: #919191;
  text-align: center;
  font-size: 20px;
}
.star{
  font-size: 15px;
}

/* Tabs */

#vertical-tabpanel-0, #vertical-tabpanel-1, #vertical-tabpanel-2, #vertical-tabpanel-3, #vertical-tabpanel-4{
  width: 100%;
}
 

.addressDetails .form-control{
  padding: 1rem;
  margin-bottom: 1.4rem;
  font-size: 20px;
}
.form-label{
  font-size: 20px;
}
form p{
  font-size: 20px;
}
 .addressForm h2{
  font-size: 32px;
  font-weight: 500;
}


.css-10d9dml-MuiTabs-indicator{
  background-color: #e25112 !important; 
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #e25112 !important;
}

.addressDetails button{
  background-color: #E97451;
  padding: .7rem 0rem;
  color: white !important;
  border-radius: .5rem;
  margin: 1rem;
}



.Category {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
}

.price-input  { 
  display: flex; 
  justify-content: space-between;
  margin:  5px 0px; 
} 

.price-field input { 
  flex: 1; 
  height: 35px; 
  font-size: 15px; 
  font-family: "DM Sans", sans-serif; 
  border-radius: 9px; 
  text-align: center; 
  border: 0px; 
  width: 45px;
  background: #e4e4e4; 
} 

.price-input { 
  width: 100%; 
  font-size: 19px; 
  color: #555; 
} 

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

.slider-container { 
  width: 100%; 
} 

.slider-container { 
  height: 6px; 
  position: relative; 
  background: #e4e4e4; 
  border-radius: 5px; 
} 

.slider-container .price-slider { 
  height: 100%; 
  left: 25%; 
  right: 15%; 

  position: absolute; 
  border-radius: 5px; 
  background: #eb6a2e; 
} 

.range-input { 
  position: relative; 
} 

.range-input input { 
  position: absolute; 
  width: 100%; 
  height: 5px; 
  background: none; 
  top: -5px; 
  pointer-events: none; 
  cursor: pointer; 
  -webkit-appearance: none; 
} 

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb { 
  height: 18px; 
  width: 18px; 
  border-radius: 70%; 
  background: #555; 
  pointer-events: auto; 
  -webkit-appearance: none; 
} 


@media screen and (max-width: 768px) { 
  .main { 
      width: 80%; 
      margin-right: 5px; 
  } 
  .price-input-container{
     margin-top: 10px;
     /* margin-left: ; */
  }
  .custom-wrapper { 
      width: 100%; 
      left: 0; 
      padding: 0 10px; 
  } 
  .searchBar{
    /* margin-top: 10px; */
    align-items: center;
    display: flex;
    gap: 18px;
  }
  .projtitle { 
      width: 100%; 
      position: relative; 
      right: 26px; 
  } 

  /* .price-input { 
      flex-direction: column; 
      align-items: center; 
  }  */

  .price-field { 
      margin: 10px; 
  } 
  .sidebar{
    width: 100%;
    margin-top: 2.5rem;
    /* display: flex;
    gap:2rem;
    justify-content: center; */
  }

  /* .price-input  { 
    display: flex; 
    justify-content: space-between;
    margin:  5px 0px; 
  } 
   */

  .price-field input { 
    flex: 2; 

    border-radius: 9px; 
    text-align: center; 
    border: 0px; 
    width: 45px;
    background: #f0efef; 
  } 
  .productCategories{
    /* margin-top: 1.2rem; */
  }
  .card {
    width: 100% !important;
}
 
  .price-input { 
   margin-top: .7rem;
  }  



  /*  order panel */
  .fit-content{
    width: fit-content;
    margin: .1rem;
  }
  .productwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .burger-text{

  }
  .order-response{
    /* zoom: 0.8; */
  }
  .tabSection{
    zoom:.8;
  }

  /* .pastOrderImg{
    width: 200px;
    height: 200px;
  } */
  /* .profile-banner {
     width: 100%;
     height
  } */

  .myAccount{
    font-size: 60px;
    margin: 4rem 0;
  }

  .profile-banner{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pastOrderHead{
    display: none;
  }


  /* profile details panel*/

.profile{
  width: 100%;
  zoom : .8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileDetails{
  width:100% !important;
  display: flex !important;
  justify-content: start !important;
  flex-direction: column !important;
  align-items: start !important;
  margin:.2rem !important;
  /* padding: .1rem !important; */
  gap:.1rem !important;
}

/* addresses */
.adressess{
  display :flex !important;
  flex-direction: column !important;
}
.addressForm{
  width: fit-content !important;

}
.addressForm h2{
 width: 100%;
}
.navHeart{
  display: none;
}
.logoMobile{
  display: none;
}



.productDetails{
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //margin: 0 auto; /* Center the container */
  //padding: 0;
}
.product-counter{
 display: flex;
 flex-direction: column;
}


/* about */
.about-banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-banner h2{
  font-size: 5rem;
}
.footer .wrapper .wrapped{
  display: flex;
  align-items: start;
  flex-direction: column;
}

.footer .wrapper .banner{
  display: flex;
  align-items: start;
  flex-direction: column;
}
.footer .wrapper .contact{
  display: flex;
  align-items: start;
  flex-direction: column;
}
}

